﻿@{
	ViewData["Title"] = "Home Page";
}
<style>
	th {
		padding: 0 1px;
	}

	h2 {
		text-align: center;
		font-size: 30px;
		line-height: 20px;
		text-align: right;
		padding: 1px 1px 1px 0;
	}

	.preload {
		width: 100px;
		height: 100px;
		position: fixed;
		top: 50%;
		left: 50%;
	}

	.column {
		min-width: 160px;
	}

	table.dataTable tbody tr.selected {
		color: black !important;
		background-color: #A2B8C8 !important;
	}

	table.dataTable tbody tr:hover {
		background-color: #A2B8C8 !important;
	}

	datalist {
		display: flex;
		justify-content: space-between;
		color: black;
		width: 100%;
	}

	input {
		width: 100%;
	}

		input[type=checkbox] {
			width: 15px;
			height: 15px;
			-moz-appearance: none;
		}
</style>
<br />
@*<div class="row">
	<div class="col-lg-12">
	<h2>Peregrine</h2>
	</div>
	</div>*@
<div class="row">
	<div class="col-lg-10">
		<div class="row">
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">LOAD TIME</font>
				</label>
				<select id="loadTimeId" style="width: 125%;position: relative; top: -10px"></select>
			</div>
			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">ORIGINAL ASSIGNED RORG</font>
				</label>
				<select size="1" id="origAssRorgId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="This is the original RORG from where the order was sourced from"></select>
			</div>
			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">ORIGINAL SUPPLY CHAIN REGION</font>
				</label>
				<select id="origSuppChainregionId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="Supply chain region of the ORIGINAL ASSIGNED RORG"></select>
			</div>
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">CATEGORY</font>
				</label>
				<select id="categoryId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="Category1 – These are all the orders that are fulfilled based on the available inventory without applying any optimization.

Category2 – These are all the orders that are fulfilled based on the score (orders with max score has high priority). They can be fulfilled either from the inventory or CTP.

Category3 – These are all the orders that are fulfilled based on the cost (orders with min cost has high priority). They can be fulfilled either from the inventory or CTP.

Category4 – These are orders that cannot be fulfilled based on the available stock. "></select>
			</div>

			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">INTER/INTRA REGION</font>
				</label>
				<select id="iiRegionId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="This will be INTER if ORIGINAL SUPPLY CHAIN REGION and FINAL SUPPLY CHAIN REGION are different otherwise INTRA"></select>
			</div>
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">SCHEDULED</font>
				</label>
				<select id="scheduledFlagId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right"></select>
			</div>


			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1"></font>
				</label>
				<br />
				<button type="button" id="searchBtnId" style="position: relative; left: 30px">Search</button>
			</div>
			<div class="col-lg-1" style="position: relative; left: 200px">
				<h2>Peregrine</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">Accepted/Rejected</font>
				</label>
				<select id="acceptedRejectedId" style="width: 125%;position: relative; top: -10px">
					<option value="0">Hide</option>
					<option value="1">Show All</option>
					<option value="2">Accepted</option>
					<option value="3">Rejected</option>
				</select>
			</div>
			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">FINAL ASSIGNED RORG</font>
				</label>
				<select id="finalAssRorgId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="This is the final RORG that is suggested by the tool (Peregrine)"></select>
			</div>

			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">FINAL SUPPLY CHAIN REGION</font>
				</label>
				<select id="finalSuppChainRegionId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="Supply chain region of the FINAL ASSIGNED RORG"></select>
			</div>
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">CUSTOMER</font>
				</label>
				<select id="customerId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="Name of the customer to whom we are delivering the order"></select>
			</div>

			<div class="col-lg-2">
				<label for="standard-select">
					<font size="1">SPEND ALLOWANCE FLAG</font>
				</label>
				<select id="spendAllFlagId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right" title="When we are sourcing an order from alternate source there is limit to the extra dollars that we can spend, this flag tells whether the increase in the spend is in the limit or not"></select>
			</div>
			<div class="col-lg-1">
				<label for="standard-select">
					<font size="1">MET</font>
				</label>
				<select id="metFlagId" style="width: 100%;position: relative; top: -10px" data-toggle-second="tooltip" data-placement="right"></select>
			</div>


			<div class="col-lg-1">
				@*	<label for="standard-select">
					<font size="1"></font>
					</label>*@
				@*<br />*@
				<button type="button" style="background-color: #00FF7F; position: relative; left: 30px;top:13px" id="acceptBtnId">Accept</button>
			</div>

			<div class="col-lg-1">
				<button type="button" id="btnRandomApproachId" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="position: relative; left: 200px">
					RANDOM_APPROACH
				</button>
				@*<button type="button" style="position: relative; left: 95px" id="rejectBtnId"></button>*@
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<label><font size="2">Original Org<>Final org</font> <input id="originalFinalCheckId" type="checkbox"></label>
			</div>
			<div class="col-lg-3">
				<label><font size="2">Original date<>final date</font> <input id="originalFinalDateCheckId" type="checkbox"></label>
			</div>
			<div class="col-lg-3">
				<label><font size="2">Original SKU<>final SKU</font> <input id="originalFinalSKUCheckId" type="checkbox"></label>
			</div>
			<div class="col-lg-1">
				@*				<label for="standard-select">
					<font size="1"></font>
					</label>
					<br />*@
				<button type="button" style="background-color: #FF6347;width:65px; position: relative;left: 30px; " id="rejectBtnId">Reject</button>
			</div>
		</div>
	</div>

</div>

<br />
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				@*<h5 class="modal-title" id="exampleModalLabel">RANDOM_APPROACH</h5>*@
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<label for="customRange3" class="form-label w-75">Priority hyper parameter</label>
				@*<input type="range" class="form-range" min="0" max="1" step="0.1" id="customRangeId" data-slider-ticks="[0, 0.1, 0.2, 0.3, 0.4,0.5,0.6,0.7,0.8,0.9,1]" data-slider-ticks-labels='["0", "0.1", "0.2", "0.3", "0.4","0.5","0.6","0.7","0.8","0.9","1"]'>*@
				<div class="d-flex justify-content-center my-4">
					<span class="font-weight-bold indigo-text mr-2 mt-1">min of the overall cost</span>
					<form class="range-field w-75">
						@*<input class="border-0" type="range" min="0" step="0.1" max="1" id="customRangeId" />*@
						<input class="border-0" type="range" min="0" step="0.1" max="1" id="customRangeId" list="tickmarks">
						<datalist id="tickmarks">
							<option label="0"></option>
							<option label="0.1"></option>
							<option label="0.2"></option>
							<option label="0.3"></option>
							<option label="0.4"></option>
							<option label="0.5"></option>
							<option label="0.6"></option>
							<option label="0.7"></option>
							<option label="0.8"></option>
							<option label="0.9"></option>
							<option label="1"></option>
						</datalist>
					</form>
					<span class="font-weight-bold indigo-text ml-2 mt-1">max of scheduled orders</span>
					<span class="font-weight-bold indigo-text ml-2 mt-1"> </span>
					<button type="button" class="btn btn-primary" id="saveId">Save</button>
				</div>
				<table id="RANDOM_APPROACH_HP_ID" class="display table-striped table-hover table-bordered"
					   style="font-size: x-small; width: 100%; ">
					<thead>
						<tr>
							<th data-field="INSERT_TIME">INSERT_TIME</th>
							<th data-field="HP_WEIGHT">HP_WEIGHT</th>
							<th data-field="AUTH_USER">AUTH_USER</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				@*	<button type="button" class="btn btn-primary">Save changes</button>*@
			</div>
		</div>
	</div>
</div>
<div>

	<table id="data-table" class="display table-striped table-hover table-bordered"
		   style="font-size: x-small; width: 100%;">
		<thead>
			<tr>
				<th data-field="ordernum">ORDER</th>
				<th data-field="originaL_ASSIGNED_SKU">ORIGINAL<br />ASSIGNED<br />SKU</th>
				<th data-field="originaL_ASSIGNED_RORG">ORIGINAL<br />ASSIGNED<br />RORG</th>
				<th data-field="originaL_SUPPLY_CHAIN_REGION">ORIGINAL<br />SUPPLY<br />CHAIN<br />REGION</th>
				<th data-field="originaL_ASSIGNED_DATE">ORIGINAL<br />ASSIGNED<br />DATE</th>
				<th data-field="requireD_CASES">REQUIRED<br />CASES<br /></th>
				<th data-field="optimaL_FLAG">OPTIMAL<br />FLAG</th>
				<th data-field="meT_FLAG">MET<br />FLAG</th>
				<th data-field="schedulE_FLAG">SCHEDULE<br />FLAG</th>
				<th data-field="finaL_ASSIGNED_SKU">FINAL<br />ASSIGNED<br />SKU</th>
				<th data-field="finaL_ASSIGNED_RORG">FINAL<br />ASSIGNED<br />RORG</th>
				<th data-field="finaL_SUPPLY_CHAIN_REGION">FINAL<br />SUPPLY<br />CHAIN<br />REGION</th>
				<th data-field="finaL_ASSIGNED_DATE">FINAL<br />ASSIGNED<br />DATE</th>
				<th data-field="delaY_IN_DAYS">DELAY<br />IN<br />DAYS</th>
				<th data-field="category">CATEGORY<br /></th>
				<th data-field="inteR_INTRA_REGION">INTER<br />REGION</th>
				<th class="column" data-field="customer">CUSTOMER IN COST</th>
				<th data-field="customer_city">CUSTOMER_CITY </th>
				<th data-field="customer_po">CUSTOMER_PO </th>
				<th data-field="delivery_number">DELIVERY_NUMBER </th>
				<th data-field="customer_state">CUSTOMER_STATE </th>
				<th data-field="dtS_DC_Classification">DTS/DC<br />CLASSIFICATION</th>
				<th data-field="psn">PSNC</th>
				<th data-field="desT_ZIP_CODE">DEST<br />ZIP<br />CODE</th>
				<th data-field="ondate">ONDATE</th>
				<th data-field="optimaL_ORG">OPTIMAL<br />ORG</th>
				<th data-field="numbeR_OF_TL">NUMBER<br />OF<br />TL</th>
				<th data-field="optimaL_SPEND">OPTIMAL<br />SPEND</th>
				<th data-field="originaL_SPEND">ORIGINAL<br />SPEND</th>
				<th data-field="finaL_TRANSPORTATION_SPEND">FINAL<br />TRANSPORTATION<br />SPEND</th>
				<th data-field="spenD_ALLOWANCE_PCT">SPEND<br />ALLOWANCE<br />PCT</th>
				<th class="column" data-field="spenD_ALLOWANCE_FLAG">SPEND ALLOWANCE FLAG</th>
				<th data-field="transportatioN_SPEND_DIFFERENCE">TRANSPORTATION<br />SPEND<br />DIFFERENCE</th>
				<th data-field="dynamiC_INCREMENTAL_SPEND">DYNAMIC<br />INCREMENTAL<br />SPEND</th>
				<th data-field="dynamiC_INCREMENTAL_SPEND">DATE<br />TIME<br />CHANGED</th>
				<th data-field="dynamiC_INCREMENTAL_SPEND">ACCEPTED</th>
				<th data-field="dynamiC_INCREMENTAL_SPEND">LOAD<br />TIME</th>
				<th data-field="dynamiC_INCREMENTAL_SPEND">LOAD<br />TIME</th>
			</tr>
		</thead>

	</table>
</div>
<div class="preload" id="preloadId" style="font-size: x-small; width: 100%; display:none">
	<img src="http://i.imgur.com/KUJoe.gif">
</div>
@*</div>*@
@section Scripts{
<link rel="stylesheet" type="text/css"
	  href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	  href="https://cdn.datatables.net/fixedcolumns/3.3.3/css/fixedColumns.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	  href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	  href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
	  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.3/js/dataTables.fixedColumns.min.js"></script>
<script src="~/js/OrderDataTable.js"></script>
	}
